* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Space Mono;
  background-color: #C5E4E7;
}

.general-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 40px;
}

.general-title h1 {
  color: #3D6666;
  text-align: center;
}

h4 {
  font-weight: 700;
  color: #5E7A7D;
}

.container {
  background-color: white;
  border-radius: 25px;
  padding-bottom: 32px;
}

.container .left {
  padding-inline: 32px;
}

.container .left h4 {
  margin-top: 32px;
}

.container .form-group {
  padding: 32px 0 32px 0;
}

.container .left input {
  font-size: 24px;
  font-weight: 700;
  color: #00474B;
  background-color: #F3F9FA;
  border: none;
  width: 100%;
  text-align: end;
  padding-right: 18px;
}

.container .left .form-group .input-box {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.container .left .form-group .input-box {
  position: relative;
}

.container .left .form-group .input-box .icon {
  position: absolute;
  left: 18px;
  top: 10px;
  transform: translateY(10%);

  font-size: 24px;
  color: #9EBBBD;
}

.container .left .form-group .input-box input {
  padding-top: 16px;
  padding-bottom: 16px;
  flex: 1;
}

.container .left .tip-select-group h4 {
  font-weight: 700;
  margin-bottom: 16px;
}

.container .left .tip-select-group label {
  background-color: #00474B;
  color: white;
  text-align: center;
  width: calc(50% - 8px);
  padding: 6px 16px;
  border-radius: 5px;
}

.container .left .tip-select-group .tip-group label {
  font-size: 24px;
  font-weight: 700;
}

.container .left .tip-group {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.container .left .tip-group .custom {
  font-weight: 700;
  background-color: #F3F9FA;
  color: #547878;
}

.container .right {
  background-color: #00474B;
  margin-inline: 24px;
  border-radius: 15px;
}

.container .right .tip-text-and-tip-amount {
  display: flex;
  justify-content: space-between;
  padding-top: 37px;
  padding-inline: 22px;
}

.container .right .tip-text h4 {
  color: white;
}

.container .right .tip-text span {
  color: #7F9D9F;
}

.container .right .input-box {
  text-align: end;
}

.container .right .input-box span {
  font-size: 32px;
  font-weight: 700;
  color: #26C2AE;
  background-color: #00474B;
}

.container .right .input-box label {
  font-size: 48px;
  font-weight: 700;
  color: #26C2AE;
  background-color: #00474B;
  width: 55%;
}

.container .right .reset {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  padding-bottom: 24px;
}

.container .right button {
  font-size: 20px;
  font-weight: 700;
  color: #00474B;
  background-color: #26C2AE;
  width: 85%;
  border-radius: 5px;
  border: none;
  padding: 9px 32px;
}

@media(min-width:1109px) {
  .container {
    width: 920px;
    height: 481px;
    display: flex;
    flex-direction: row;
    margin-inline: auto;
  }

  .container .left {
    width: 379px;
    height: 388px;
  }

  .container .left .form-group{
    padding: 0px;
  }

  .container .right {
    width: 413px;
    height: 430px;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .container .right .tip-text {
    padding-top: 20px;
  }

  .container .right .reset {
    padding-top: 100px;
  }
}